.header { height: 100px; position: relative; border-bottom: 1px #eee solid; text-align: right; }
.header h1 { position: absolute; top: 25px; left: 0px; z-index: 1; }
.header .nav { display: inline-block; vertical-align: top; }
.header .nav li { display: inline-block; vertical-align: top; }
.header .nav li a { display: inline-block; vertical-align: top; width: 100px; text-align: center; padding-top: 31px; padding-bottom: 9px; }
.header .nav li a span { font-size: 16px; color: #666; }
.header .nav li a p { line-height: 3; font-size: 12px; color: #999; }
.header .nav li.current { border-bottom: 4px #ff3333 solid; }
.header .nav li.current a span { color: #ff3333; }
.header .nav li.current a p { color: #ff3333; }

.banner { height: 560px; position: relative; }
.banner .banner-a { display: block; height: 560px; background-position: center top; background-repeat: no-repeat; }
.banner .slidesjs-navigation { display: none; }
.banner .slidesjs-pagination { position: absolute; bottom: 20px; left: 0; right: 0; z-index: 11; text-align: center; }
.banner .slidesjs-pagination > li { display: inline-block; vertical-align: top; padding: 0 10px; }
.banner .slidesjs-pagination > li > a { display: inline-block; font-size: 0; line-height: 0; width: 86px; height: 7px; background: rgba(255, 255, 255, 0.3); }
.banner .slidesjs-pagination > li > a.active { background: #fff; }

.notice { margin-top: 19px; border-top: 1px #eee solid; border-bottom: 1px #eee solid; height: 40px; line-height: 40px; }
.notice > span { width: 40px; height: 40px; background: url("../images/icon-notice.png") center center no-repeat; display: inline-block; vertical-align: top; }
.notice .notice-list { width: calc(100% - 46px); display: inline-block; vertical-align: top; height: 40px; overflow: hidden; position: relative; }
.notice .notice-list > ul { position: absolute; top: 0; left: 0; right: 0; }

.hgroup { padding: 60px 0; text-align: center; }
.hgroup h3 { font-size: 48px; color: #ef1b27; line-height: 1; font-weight: normal; }
.hgroup hr { width: 160px; height: 2px; background: #ccc; display: inline-block; margin: 20px 0; }
.hgroup p { font-size: 30px; color: #666; line-height: 1; text-transform: uppercase; }

/*.index-case-list { font-size: 0; line-height: 0; position: absolute; top: 0; left: 0; }*/
.index-case-list ul > li { display: inline-block; vertical-align: top; padding: 0 6px; }

.case-slide { padding: 0 16px; }

.index-case-content { overflow: hidden; height: 320px; padding: 0; position: relative; }

.slide-c { position: relative; }
.slide-c span.arrow-left { width: 26px; height: 80px; background: url("../images/arrow.png") no-repeat; position: absolute; top: calc(50% - 40px); left: 18px; z-index: 99; cursor: pointer; }
.slide-c span.arrow-right { width: 26px; height: 80px; background: url("../images/arrow.png") no-repeat; position: absolute; top: calc(50% - 40px); right: 18px; z-index: 99; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); cursor: pointer; }

.slide-ic { position: relative; }
.slide-ic span.arrow-left { width: 26px; height: 80px; background: url("../images/arrow.png") no-repeat; position: absolute; top: calc(50% - 40px); left: 22px; z-index: 99; cursor: pointer; }
.slide-ic span.arrow-right { width: 26px; height: 80px; background: url("../images/arrow.png") no-repeat; position: absolute; top: calc(50% - 40px); right: 22px; z-index: 99; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); cursor: pointer; }

.case-project { position: relative; }
.case-project .left { width: 250px; padding-left: 20px; box-sizing: border-box; display: inline-block; vertical-align: top; padding-top: 50px; }
.case-project .right { width: calc(100% - 256px); display: inline-block; vertical-align: top; padding: 0 6px; box-sizing: border-box; }
.case-project .more { width: 57px; height: 23px; background: url("../images/icon-more.png") no-repeat; display: inline-block; margin-top: 96px; }

.gline { margin: 50px 0 60px 0; height: 1px; background: #ccc; }

.news-group { padding-bottom: 78px; }
.news-group .left { width: 490px; display: inline-block; vertical-align: top; padding-left: 20px; box-sizing: border-box; padding-top: 10px; }
.news-group .left a { font-size: 18px; color: #333; line-height: 2; display: inline-block; vertical-align: top; }
.news-group .left .img { line-height: 0; }
.news-group .left img { width: 470px; }
.news-group .left p { font-size: 14px; color: #999; padding: 13px 0; }
.news-group .left .t { padding-left: 10px; border: 1px #f2f1f1 solid; border-top: none; }
.news-group .left hr { width: 230px; height: 1px; background: #eee; }
.news-group .right { width: calc(100% - 500px); display: inline-block; vertical-align: top; box-sizing: border-box; padding-left: 20px; }
.news-group .more { width: 57px; height: 23px; background: url("../images/icon-more.png") no-repeat; display: inline-block; }
.news-group .news-more { text-align: right; }

.news-ilist { padding-top: 10px; }
.news-ilist ul > li { position: relative; padding-left: 24px; padding-bottom: 20px; }
.news-ilist ul > li a { font-size: 18px; color: #333; line-height: 1.6; }
.news-ilist ul > li p { font-size: 14px; color: #999; }

.contact-us { background: #b5b4b4; color: #fefefe; }
.contact-us .contact-itit { position: relative; padding: 40px 20px 0 20px; }
.contact-us .contact-itit .t { color: #fefefe; font-size: 48px; line-height: 1.5; display: block; }
.contact-us .contact-itit .et { font-size: 30px; line-height: 54px; }
.contact-us .contact-itit .desc { text-align: right; position: absolute; right: 20px; bottom: 0; color: #fefefe; font-size: 14px; line-height: 30px; }
.contact-us .contact-conn { padding-top: 50px; padding-bottom: 80px; }
.contact-us .card { background-color: #fff;width: 460px; height: 260px; display: inline-block; padding: 40px 0 0 40px; border: 2px rgba(255, 255, 255, 0.9) solid; box-sizing: border-box; position: relative; }
.contact-us .card .t { font-size: 24px; line-height: 1.4; }
.contact-us .card .t2 { font-size: 16px; line-height: 2; }
.contact-us .card hr { width: 15px; height: 2px; background: #fff; margin-bottom: 10px; }
.contact-us .card .map { width: 48px; height: 48px; background: url("../images/icon-map.png") no-repeat; position: absolute; top: 40px; right: 40px; }
.contact-us .card-r { margin-left: 36px; }
.contact-us .list { line-height: 28px; font-size: 16px; }
.contact-us .list > dl > dt { width: 65px; display: inline-block; vertical-align: top; }
.contact-us .list > dl > dd { width: calc(100% - 70px); display: inline-block; vertical-align: top; }

.footer { text-align: center; }
.footer .nav-sec { padding: 18px 0; border-bottom: 1px #eee solid;  border-top: 1px #eee solid;}
.footer .nav-sec a { display: inline-block; vertical-align: top; padding: 0 20px; }
.footer p { font-size: 12px; color: #999; line-height: 34px; }

.nbanner { background-repeat: no-repeat; background-position: center top; height: 560px; }

.about-group { padding-bottom: 70px; }
.about-group .img { float: left; }
.about-group .img img { border: 10px #f9f9f9 solid; }
.about-group .text-group { margin-left: 430px; font-size: 14px; line-height: 32px; }

.contact-us-group { background: #f9f9f9; }

.contact-group { padding-bottom: 70px; position: relative; }
.contact-group .img { position: absolute; left: -254px; top: 0; }
.contact-group .contact-card { margin-left: 430px; font-size: 14px; line-height: 32px; }
.contact-group .card { width: 460px; height: 260px; display: inline-block; padding: 40px 0 0 40px; border: 2px rgba(255, 255, 255, 0.9) solid; box-sizing: border-box; position: relative; background: #fff; }
.contact-group .card .t { font-size: 24px; line-height: 1.4; color: #ef1b27; }
.contact-group .card .t2 { font-size: 16px; line-height: 2; color: #ef1b27; }
.contact-group .card hr { width: 15px; height: 2px; background: #ef1b27; margin-bottom: 10px; }
.contact-group .card .map { width: 48px; height: 48px; background: url("../images/icon-map.png") no-repeat; position: absolute; top: 40px; right: 40px; }
.contact-group .card-r { margin-top: 24px; }
.contact-group .list { line-height: 28px; font-size: 16px; }
.contact-group .list > dl > dt { width: 65px; display: inline-block; vertical-align: top; }
.contact-group .list > dl > dd { width: calc(100% - 70px); display: inline-block; vertical-align: top; }

.feedback-group { border-bottom: 1px #ccc solid; }
.feedback-group .btn { text-align: center; padding: 50px 0 80px 0; }
.feedback-group button { width: 300px; height: 40px; line-height: 40px; border: none; text-align: center; color: #fff; background: #ef1b27; border-radius: 6px; }

.feedback-list input { width: 390px; height: 40px; border: 1px #ccc solid; border-radius: 6px; padding: 0 10px; box-sizing: border-box; }
.feedback-list dt { display: inline-block; vertical-align: top; width: 72px; text-align: right; line-height: 40px; }
.feedback-list dd { display: inline-block; vertical-align: top; width: calc(50% - 80px); box-sizing: border-box; padding-left: 5px; }
.feedback-list dl { padding-bottom: 22px; }
.feedback-list dl.c2 dd { width: calc(100% - 80px); }
.feedback-list textarea { border: 1px #ccc solid; width: 97%; box-sizing: border-box; padding: 10px; height: 100px; border-radius: 6px; }

.case-section .left { position: absolute; top: 0; left: 0; width: 260px; text-align: center; padding-top: 50px; }
.case-section .left .lnav { width: 219px; height: 306px; background: url("../images/case-cat.png") no-repeat; display: inline-block; vertical-align: top; margin-bottom: 40px; }
.case-section .left .lnav.lnav-1 { background-position: 0 0; }
.case-section .left .lnav.lnav-1.current { background-position: -219px 0; }
.case-section .left .lnav.lnav-2 { background-position: 0 -306px; }
.case-section .left .lnav.lnav-2.current { background-position: -219px -306px; }
.case-section .right { padding-left: 310px; padding-top: 40px; }
.case-section .case-list { font-size: 0; line-height: 0; }
.case-section .case-list > ul > li { width: 33.3%; display: inline-block; vertical-align: top; text-align: center; height: 450px; }
.case-section .box span { border: 4px #fff solid; display: inline-block; vertical-align: top; }
.case-section .box h3 { font-size: 18px; color: #666; line-height: 76px; }
.case-section .box button { width: 112px; height: 30px; font-size: 14px; text-align: center; line-height: 30px; background: none; border: 1px #ccc solid; display: inline-block; vertical-align: top; }
.case-section .box:hover span { box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
.case-section .box:hover button { border-color: #ef1b27; color: #ef1b27; }

.show-detail { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 99; background: rgba(0, 0, 0, 0.8); display: none; }
.show-detail .close { position: absolute; top: 50px; right: 50px; width: 50px; height: 50px; background: url("../images/close.png"); cursor: pointer; }
.show-detail .slide { width: 810px; height: 810px; position: absolute; top: calc(50% - 405px); left: calc(50% - 405px); background: url("../images/show-bg.png"); }
.show-detail .img { width: 810px; height: 810px; background-position: center center; background-repeat: no-repeat; }
.show-detail .nimg { width: 810px; height: 810px; background-position: center center; background-repeat: no-repeat; background-size: 100%;}
.show-detail .slidesjs-pagination { position: absolute; bottom: 30px; text-align: center; left: 0; right: 0; }
.show-detail .slidesjs-pagination li { display: inline-block; vertical-align: top; padding: 0 5px; font-size: 0; }
.show-detail .slidesjs-pagination a { width: 86px; height: 7px; background: rgba(255, 255, 255, 0.3); display: inline-block; vertical-align: top; }
.show-detail .slidesjs-pagination a.active { background: white; }
.show-detail .slidesjs-navigation { position: absolute; top: calc(50% - 30px); width: 32px; height: 61px; background: url("../images/arrow-2.png") no-repeat; font-size: 0; z-index: 99; }
.show-detail .slidesjs-navigation.slidesjs-previous { left: 10px; }
.show-detail .slidesjs-navigation.slidesjs-next { right: 10px; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
.show-detail h3.tit { position: absolute; top: calc(50% + 430px); left: 0; right: 0; font-size: 18px; color: #fff; text-align: center; font-weight: normal; }


.xwdt{ padding:60px 0 0; margin:0 auto; width:1200px; position:relative}
.xwdtl{width: 100% }
.xwdtl li{ padding:20px 0; border-bottom:1px dashed #d9d9d9;}
.xwdtll{ float:left; padding: 10px;}
.xwdtll span{ display:table-cell; vertical-align:middle; text-align:center; width:100px; height:100px;}
.xwdtll span img{ width:110px; height:100px;}
.xwdtlr{ width:840px;float:left;padding-left: 15px; font-size:15px; line-height:25px; color:#999}
.xwdtlr h1 a{ display:inline-block; line-height:30px; padding:5px 0; font-size:18px; color:#333;}
.xwdtlr h1 a:hover{ color:#13a6ea}
a.xwgd{ display:inline-block; line-height:40px; color:#c9caca; font-family:Arial}

.news-detail__content {
	    padding: 50px 20px 30px 20px;
    min-height: 100%;
    /* overflow: hidden; */
    width: 1000px;
}
.news-detail__h1 {
	text-align: center;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    /* color: #c9caca; */
    font-family: Arial;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
    margin-bottom: 72px;
}
.date_hits_tags {
	margin-bottom: 20px;
}
.news-pub__date {
	color:#afafaf;
}
.news-hits__num {
	color:#afafaf;
}
.news-con__page {
	margin-top: 20px;
}

/* 通用分页样式 */
.pages{height:26px; margin:15px 0 40px 0;}
.pages ul{ float:right; padding:0 10px;list-style:none;margin:0; }
.pages li{ float:left; margin-left:5px;}
.pages li a{ display:block; padding:2px 4px; height:18px; line-height:18px; color:#666;}
.pages li a:hover{  background:#ef1b27; color:#fff; text-decoration:none;}
.pages li span{ display:block;  height:18px; line-height:18px; color:#c4c4c4;padding:0 10px; }
.pages .current a{  background:#ef1b27; color:#fff;}



/*首页样式修改*/
.index-case-content {
        width: 3000px;
/*    margin-left: -252px;*/
}
.case-project .right {
    display: inline-block;
    vertical-align: top;
    padding: 0 6px;
    box-sizing: border-box;
    width: 745px;
    overflow: hidden;
}

/*new index*/
.fl {
    float: left;
}
.index-case-list_content{
    width: 1000px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.index-case-list__right {
    width: 750px;
    display: inline-block;
    float: left;
    margin-top: 34px;
    position: relative;
    overflow: hidden;
}
.case-list__wrapper {

}
.case-list__ul {
    width:3000px;
}
.case-list__li {
    width: 230px;
    height:324px;
    float: left;
    margin: 0 10px;
}
.case-list__btn__left {
    width: 26px;
    height: 80px;
    background: url(../images/arrow.png) no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 18px;
    z-index: 99;
    cursor: pointer;
}
.case-list__btn__right {
    width: 26px;
    height: 80px;
    background: url(../images/arrow.png) no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    right: 18px;
    z-index: 99;
    cursor: pointer;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.product-img-tmb-list-li {
        float: left;
    margin: 10px;
}
.show-img-detail-auto {
        text-align: center;
    padding-top: 100px;
}
  .show-img-detail-auto .img-auto{
        max-width: 100%;
        max-height: 100%;
    }
/*# sourceMappingURL=css.css.map */
